<!-- accounts/templates/register_exam_office.html -->

<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Office Management System</title>
</head>
<body>
    <header>
        <h1>Exam Office Management System</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register_exam_office' %}">Register as Exam Office/Admin</a></li>
                    <li><a href="{% url 'register_department' %}">Register as Department</a></li>
                    <li><a href="{% url 'register_teacher' %}">Register as Teacher</a></li>
                    <li><a href="{% url 'register_student' %}">Register as Student</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Exam Office Management System</p>
    </footer>
</body>
</html>

