version: 2.1

jobs:
  setup:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r 'Sprint/Sprint Implementation/Exam_Office_System/myproject/requirements.txt'
      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    docker:
      - image: circleci/python:3.8
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run pytest for all apps
          command: |
            cd 'Sprint/Sprint Implementation/Exam_Office_System/myproject'
            for app in $(ls -d */); do
              pytest $app/tests
            done

  docs:
    docker:
      - image: circleci/python:3.8
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Build Sphinx documentation
          command: |
            cd 'Sprint/Sprint Implementation/Exam_Office_System/myproject/source'
            make html
      - persist_to_workspace:
          root: .
          paths:
            - 'Sprint/Sprint Implementation/Exam_Office_System/myproject/source/_build'

workflows:
  version: 2
  build_and_test:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - main
                - ApplyForMarksheet-Tamjid
      - test:
          requires:
            - setup
          filters:
            branches:
              only:
                - main
                - ApplyForMarksheet-Tamjid
      - docs:
          requires:
            - setup
          filters:
            branches:
              only:
                - main
                - ApplyForMarksheet-Tamjid
