<!-- accounts/templates/home.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="homepage">
        <h2>Welcome to the Exam Office Management System</h2>
        <p>Please choose an option below to proceed:</p>
        <ul>
            <li><a href="{% url 'register_exam_office' %}">Register as Exam Office/Admin</a></li>
            <li><a href="{% url 'register_department' %}">Register as Department</a></li>
            <li><a href="{% url 'register_teacher' %}">Register as Teacher</a></li>
            <li><a href="{% url 'register_student' %}">Register as Student</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </div>
{% endblock %}
